@inherits Umbraco.Web.Macros.PartialViewMacroPage

@if (Model.MacroParameters["relatedImages"] != null)
{

    var relatedImagesIds = @Model.MacroParameters["relatedImages"];


    <div id="carousel" data.relatedImagesIds="test"></div>



}

@*<script src="~/scripts/React/dist/carsousel-bundle.js"></script>*@



    <script type="text/babel">
        class Carousel extends React.Component {
        render() {
        return (
        <div>Hello world - {this.props.relatedImagesIds}</div>
        );
        }
        }

        var root = document.getElementById('carousel')
        ReactDOM.render(
        <Carousel {...(root.relatedImagesIds)} />, root)
    </script>


